.order-history-container {
  padding: 2rem;
  background-color: #F5E8C7;

  font-family: 'Poppins', sans-serif;
}

.order-history-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #9E2B2B;
  justify-content: center;
  display: flex;

}

.filter-container {
  margin-bottom: 1rem;
  color: #138808;

}

.filter-select {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #D4AF37;

}

.order-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.order-table th,
.order-table td {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.order-table button {
  background-color: #FF9933;

  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.order-table button:hover {
  background-color: #9E2B2B;

}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 24px;
  border-radius: 8px;
  min-width: 320px;
  max-width: 500px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid #D4AF37;

}

.button-margin {
  margin-left: 10px;
}

.modal-content li {
  transition: background-color 0.3s;
}

.modal-content li:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}


@media (max-width: 768px) {
  .order-table {
    border: 0;
  }

  .order-table thead {
    display: none;
  }

  .order-table tr {
    margin-bottom: 20px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
  }

  .order-table td {
    display: block;
    text-align: right;
    font-size: 14px;
    border-bottom: 1px dotted #ccc;
    position: relative;
    padding-left: 50%;
  }

  .order-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  .order-table td:last-child {
    border-bottom: 0;
  }
}